.chat-section {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 15px;
  background: #f4f5ff;
  border: 1px solid #777fff1f;
}
.header-chat {
  display: flex;
  align-items: center;
  background: #7780ff;
  position: relative;
  padding: 4px 20px;
  width: 280px;
  font-size: 20px;
  color: #fff;
}

.header-chat img {
  height: 50px;
    width: 50px;
    margin-right: 10px;
}

.header-chat .image-container {
  width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #fff;
    margin: 2px 10px 2px 0px;
}

.chat-body {
  height: 315px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  overflow: auto
}
.chat-footer {
  display: flex;
    align-items: center;
    position: relative;
    margin: 12px 10px;
}

.chat-footer input {
  width: 70%;
  padding: 10px;
  margin-left: 12px;
  border-radius: 20px;
  box-shadow: 0 5px 7px 2px #8888;
}
.chat-footer .send-icon {
  width: 35px;
  height: 35px;
  background: #7780ff;
  border-radius: 50%;
  position: relative;
  margin-left: 12px;
  text-align: center;
  box-shadow: 0 5px 7px 2px #8888;
  cursor: pointer;
}

.chat-footer .send-icon i {
  position: absolute;
    font-size: 30px;
    color: #fff;
    left: 15px;
    top: 3px;
}
.header-icon {
  position: absolute;
  right: 30px;
  color: #fff;
  font-size: 22px;
}
.header-icon .camera-icon {
  margin-right: 15px;
  cursor: pointer;
}

.chat-body .receiving-message {
  background: #eff0ff;
  display: inline-block;
  padding: 9px 15px;
  border-radius: 5px;
  box-shadow: 0 5px 7px 2px #8888;
  margin-top: 10px
}
.chat-body .sending-messages {
  background: #eff0ff;
  padding: 9px 15px;
  border-radius: 5px;
  box-shadow: 0 5px 7px 2px #8888;
  margin-top: 10px;
  display: inline-block;
  text-align: end
}
.search-input {
  width: 91%;
    box-shadow: 0 5px 6px 0px #8888;
    padding: 12px;
    border-radius: 5px;
}